.c {
    &-btn__container{
        display: flex;
        justify-content: center;
    }
    &-btn__item{
        border-radius: 20px;
        padding:20px;
        margin: 10px 0;
        background-color: rgb(34, 34, 34);
        color: #fff;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
    }
    &-search {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        &__box{
            margin:55px 0;
        }
    }

    &-item {
        margin: 55px 0;
    }

    &-item__ {
        &list {}

        &author {
            font-style: italic;
            margin: 10px 0;
        }

        &name {
            margin: 10px 0;
        }

        &content {
            text-align: justify;
            margin: 10px 0;
        }
    }
}